# ignore the MANY latex temporary files
*.toc
*.synctex.gz
*.synctex(busy)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*-blx.bib
*.bbl
*.bbl-SAVE-ERROR
*.blg
*.run.xml
*.bcf
*.bcf-SAVE-ERROR
*.xdy
*.mlo
*.mw
*.ind
*.idx
*.glo
*.xmpi
*.xmpdata
*.nlo
*.lot
*.lof
*.loe
*.gnuplot
*.table
*.thm
**/_minted/
**.pygtex
**.pygstyle
**.minted
